## Day Type Identification of Algerian Electricity Load

**Introduction:**

This Jupyter notebook explores the identification of different day types based on electricity load patterns in an Algerian city. We will analyze a dataset containing hourly recordings of Maximum Power Demand (PMA) and Temperature for two years, from January 1st, 2016, to December 31st, 2017.

**Data Source:**

The dataset used in this analysis is stored in a file named `pma.xlsx`. It contains three columns:

* `time`: Date and time (including hour)
* `pma`: Maximum Power Demand (MW)
* `tmp`: Temperature (Â°C)

**Software and Tools:**

This project will utilize Python libraries such as:

* `pandas` for data manipulation and analysis
* `numpy` for scientific computing
* `matplotlib` and `seaborn` for data visualization
* `scikit-learn` for machine learning and clustering algorithms

**Let's begin by importing the necessary libraries and reading the data into a Pandas dataframe.**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans, AgglomerativeClustering

In [8]:
data_path = "pma.xlsx"

df = pd.read_excel(data_path, skiprows=1)

df.columns = ["time", "pma", "tmp"]

df['time'] = pd.to_datetime(df['time'])

df.head()

                 time          pma       tmp
0 2016-01-01 01:00:00   982.529002  6.405644
1 2016-01-01 02:00:00   983.240592  5.932445
2 2016-01-01 03:00:00  1002.780354  5.503807
3 2016-01-01 04:00:00  1011.657004  5.112056
4 2016-01-01 05:00:00   999.137230  4.751342